<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{ .Title }}</title>
		{{ partial "editable-regions" . }}
		{{ partial "date-probe.html" . }}
	</head>
	<body>
		<h1>{{ .Title }}</h1>
		<p>Page date: {{ .Date.Format "2006-01-02" }}</p>
		<div data-editable="component" data-component="card" data-prop="card">
			{{- partial "card.html" .Params.card -}}
		</div>
		<div data-editable="component" data-component="post-list">
			{{- partial "post-list.html" . -}}
		</div>
	</body>
</html>
